<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Actualizar informacion</h6>
                <form class="form p-t-20"
                    [formGroup]="medicoForm"
                    (ngSubmit)="guardarMedico()">

                    <div class="form-group row"
                        *ngIf="medicoSeleccionado">
                        <div class="col-12">
                        <label for="exampleInputuname2">Foto</label>
                        <div class="input-group justify-content-center">
                            <div class="w-100 text-center">
                                <img (click)="abrirModal(medicoSeleccionado)" class="w200 cursor" [src]="medicoSeleccionado.img | imagen:'medicos'" alt="">
                            </div>
                        </div>
                       </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname2">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input  type="text"
                                    class="form-control"
                                    id="exampleInputuname2"
                                    placeholder="Nombre del medico"
                                    formControlName="nombre"
                                    autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Hospital</label>
                        <div class="input-group">
                            <select class="form-control"
                                formControlName="hospital"
                                #hopitalInput>
                                <!-- (change)="mostrarImagenHospital(hopitalInput.value)" -->
                                <option value="">Seleccione un Hospital</option>
                                <option *ngFor="let hospital of hospitales"
                                        [value]="hospital._id">
                                        {{hospital.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="text-left">
                        <button type="submit"
                            class="btn btn-success waves-effect waves-light m-r-10"
                            [disabled]="medicoForm.invalid">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>

                        <a *ngIf="medicoSeleccionado"
                            class="btn btn-primary waves-effect waves-light m-r-10 cursor"
                            [routerLink]="['/dashboard','medico','nuevo']">
                            Nuevo Medico
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 animated fadeIn fast"
        *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre}}</h6>
                <div class="w-100 text-center">
                    <img class="img-thumbnail border" [src]="hospitalSeleccionado.img | imagen:'hospitales'" alt="">
                </div>
            </div>
        </div>
    </div>
</div>