<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil de usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20"
                    [formGroup]="perfilForm"
                    (ngSubmit)="actualizarPerfil()">

                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text"
                                    class="form-control"
                                    id="exampleInputuname" 
                                    placeholder="Username"
                                    formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email"
                                    class="form-control"
                                    id="exampleInputEmail1"
                                    placeholder="Enter email"
                                    formControlName="email"
                                    [readOnly]="usuario.google">
                        </div>
                    </div>
                    <button type="submit"
                        class="btn btn-block btn-success waves-effect waves-light m-r-10"
                        [disabled]="perfilForm.invalid">
                        <i class="fa fa-save"></i>
                        Guardar Cambios
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>

                <div class="img-container">
                    <img *ngIf="!imgTemp" class="img-avatar" [src]="usuario.imagenUrl">
                    <img *ngIf="imgTemp" class="img-avatar" [src]="imgTemp">
                </div>

                <div class="text-center">
                    <label class="mb-0" for="uploadImage"><div class="btn btn-primary mb-2 cursor">Subir Imagen</div></label>
                    <input type="file"
                            id="uploadImage"
                            (change)="cambiarImagen($event.target.files[0])">
                </div>
                <button type="button"
                    class="btn btn-block btn-success waves-effect waves-light m-r-10"
                    [disabled]="!imagenSubir"
                    (click)="subirImagen()">
                    <i class="fa fa-save"></i>
                    Cambiar Imagen
                </button>
            </div>
        </div>
    </div>
</div>