/* You can add global styles to this file, and also import other style files */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.selector, .cursor{
    cursor: pointer;
}

.img-container{
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    display:flex;
    justify-content:center;
}

.img-avatar{
    height:200px;
    width:200px;
    border-radius: 5px;
}

input[type="file"]{
    display:none;
}