/* You can add global styles to this file, and also import other style files */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.selector, .cursor{
    cursor: pointer;
}

.img-container{
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    display:flex;
    justify-content:center;
}

.img-avatar{
    height:200px;
    width:200px;
    border-radius: 5px;
}

input[type="file"]{
    display:none;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar{
    border-radius: 100%;
    width: 40px;
}

.fondo-modal-imagen{
    background-color: rgba(0,0,0,0.4);
    height:100%;
    left:0px;
    position:fixed;
    top:0px;
    width:100%;
    z-index:9999;
}

.oculto{
    display:none;
}