<div class="row">
    <div class="col-6 animated fadeIn fast"
        *ngIf="data.length > 0">
        <app-dona [titulo]="'Registros'"
                [labels]="label"
                [data]="data">
        </app-dona> 
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tareas</h4>
                <h6 class="card-subtitle">Actividades a realizar</h6>
                <div class="table-responsive h100 animated fadeIn fast">
                    <table class="table scrollY table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tarea</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="tareas.length > 0">
                            <tr *ngFor="let tarea of tareas; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{tarea}}</td>
                                <td>
                                    <button class="btn btn-success btn-block"
                                            (click)="eliminarTarea(i)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        
                        <input type="text"
                            class="form-control"
                            placeholder="Agrega una tarea..."
                            #txtTermino>

                            <button class="btn btn-info"
                                    (click)="agregarTarea()">
                                Agregar
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
